<div class="container" >
	<div class="row mt-4">
		<div class="col">
		</div>
		<div class="col-sm-5">
			<!-- <aside id="card_main"> -->
				<div class="card bg-light" style="opacity: 0.85">
					<article class="card-body">
						<form name="queryform">
							
							<h5 class="card-title text-center mb-4 mt-1">KarmaLego Parameters</h5>

							<div class="form-group input-group input-group-prepend">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Max Gap" type="text" ng-model="food" ng-disabled="false" >
							</div>
							<div class="form-group input-group input-group-prepend">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Class 1 only" type="text" ng-model="food" ng-disabled="false" >
							</div>
							<div class="form-group input-group input-group-prepend mb-5">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Epsilon" type="text" ng-model="food" ng-disabled="false" >
							</div>

							<div class="form-group input-group input-group-prepend">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Relations def_3/7" type="text" ng-model="food" ng-disabled="false" >
							</div>
							<div class="form-group input-group input-group-prepend">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Skip Followers"  type="text" ng-model="food" ng-disabled="false" >
							</div>
							<div class="form-group input-group input-group-prepend mb-5">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Need One Size" type="text" ng-model="food" ng-disabled="false" >
							</div>

							<div class="form-group input-group input-group-prepend">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Min Vertical Support %" type="text" ng-model="food" ng-disabled="false" >
							</div>
							<div class="form-group input-group input-group-prepend mb-5">
								<span class="input-group-text"> <i class=""></i> </span>
								<input name="" class="form-control" placeholder="Max TRIP Length" type="text" ng-model="food" ng-disabled="false" >
							</div>



							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block" ng-click="queryform.$valid && runQuery_ra()" href="#!options" > 
									Continue 
								</button>
							</div>
						</form>
					</article>
				</div> <!-- card.// -->
			</aside> <!-- col.// -->
		</div>
		
		<div class="col">
		</div>

	</div> <!-- row.// -->	
</div> 


<!--container end.//-->
