<div class="container" >
	<div class="row mt-4">
		<div class="col">
		</div>
		<div class="col-sm-5">
			<!-- <aside id="card_main"> -->
				<div class="card bg-light" style="opacity: 0.85">
					<article class="card-body">
						<form name="queryform">
							
							<h5 class="card-title text-center mb-4 mt-3">Classifiers Selection</h5>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Classifiers" type="text" ng-model="food" ng-disabled="false" >
								</div>

							<h5 class="card-title text-center mb-4 mt-3">KNN</h5>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Number of Neighbors" type="text" ng-model="food" ng-disabled="false" >
								</div>

							<h5 class="card-title text-center mb-4 mt-3">Logistic Regression</h5>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Max Iterations" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Solver" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Class Weight" type="text" ng-model="food" ng-disabled="false" >
								</div>
							
							<h5 class="card-title text-center mb-4 mt-3">Random Forest</h5>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="N Estimators" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Criteration" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Min Sample split" type="text" ng-model="food" ng-disabled="false" >
								</div>

								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Max Depth" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Bootstrap"  type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="N jobs" type="text" ng-model="food" ng-disabled="false" >
								</div>

								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Class Weight" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="oob_score" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="RandomState" type="text" ng-model="food" ng-disabled="false" >
								</div>
							
							<h5 class="card-title text-center mb-4 mt-3">XGB</h5>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Objective" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Objective" type="text" ng-model="food" ng-disabled="false" >
								</div>
								
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Max Depth"  type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="ETA" type="text" ng-model="food" ng-disabled="false" >
								</div>

								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Silent" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="RandomState" type="text" ng-model="food" ng-disabled="false" >
								</div>
							
								<h5 class="card-title text-center mb-4 mt-3">Logistic Regression</h5>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Max Iterations" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Solver" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Class Weight" type="text" ng-model="food" ng-disabled="false" >
								</div>
							
						<h5 class="card-title text-center mb-4 mt-3">MLP</h5>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Activation" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Initial Learning Rate" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Number of Hidden layers" type="text" ng-model="food" ng-disabled="false" >
								</div>

								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Solver" type="text" ng-model="food" ng-disabled="false" >
								</div>

								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Alpha" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="N iteration no change" type="text" ng-model="food" ng-disabled="false" >
								</div>
								<div class="form-group input-group input-group-prepend mb-5">
									<span class="input-group-text"> <i class=""></i> </span>
									<input name="" class="form-control" placeholder="Max Iteration" type="text" ng-model="food" ng-disabled="false" >
								</div>
								



							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block" ng-click="queryform.$valid && runQuery_ra()" href="#!options" > 
									Run 
								</button>
							</div>
						</form>
					</article>
				</div> <!-- card.// -->
			</aside> <!-- col.// -->
		</div>
		
		<div class="col">
		</div>

	</div> <!-- row.// -->	
</div> 


<!--container end.//-->
